.emoji {
    display: inline-block;
    width: 1.75em;
}

/*.EditTodo {*/
/*    margin: auto;*/
/*    width: 500px;*/
/*}*/

/*
@media (min-width: 500px) {
    .PostTask {
        width: 550px;
    }
}
*/
